.Add-New-Form{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding-top: 5em;
    align-content: space-around;
    .preview-greater-card{
        display: flex;
        flex-direction: row;
        background-color: aliceblue;
        width: 50vw;
        aspect-ratio: 5/3;
        border: 1px solid rgb(126, 126, 126);
        border-radius: 10px 10px 10px 10px ;
        .preview-card{
            justify-content: left;
            background-color: #ffffff ;
            aspect-ratio: 3/4;
            height: 100%;
            border: 1px solid hsla(0,0%,100%,.2);
            border-radius: 10px 10px 10px 10px ;
            overflow: auto;
            .image-container{
                overflow: hidden;
                max-height: 75%;
                .image{
                    width: 100%;
                    overflow: hidden;
                }
            }
            .body-container{
                .name{
                    font-weight: bold;
                }
                .description{
                    font-style: italic;
                }
            }

        }
        .about-section{
            padding: 2px;
            width: 50%;
            .name{
                display: flex;
                justify-content: center;
            }
            .description{

            }
        }
    }
    .footer{
        border-radius: 10px 10px 10px 10px ;

    }
}