.content{
    // display: flex;
    // justify-content: center;
    padding-top: 5em;
    row-gap: 32px;
    gap: 32px;
    margin-left: 4em;
    margin-right: 4em;
    padding-bottom: 5em;
    display: grid;
    @media (min-width:1300px) {
        grid-template-columns: repeat(3,1fr);
    }
}

.footer{
    bottom: 0;
    height: 20rem;
    background-color: rgb(100, 170, 231);
    padding-top: 5em;
}